name: build

on:
  push:
    branches-ignore:
      # release workflow will build main anyway. No need to do it twice.
      - "main"
  workflow_dispatch:

jobs:
  prerequisites:
    permissions:
      pull-requests: write
    uses: pulumiverse/infra/.github/workflows/provider-prerequisites.yaml@main
    with:
      provider: cpln
      goversion: 1.22.x
  build:
    needs: prerequisites
    uses: pulumiverse/infra/.github/workflows/provider-build-sdk.yaml@main
    with:
      provider: cpln
      goversion: 1.22.x
      dotnetversion: 6.0.300
      nodeversion: 20.x
      pythonversion: 3.9
